@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --font: "Poppins", sans-serif;

  --color-primary: #5f67c6;
  --color-secundary: #5f68c667;
  --color-bs: #5f68c63f;
  --color-white: #fff;
  --color-green: #47e57d;
  --color-red: #e54750;
  --font-thin: 300;
  --font-regular: 400;
  --font-bold: 500;
  --font-extra-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;

  height: 100vh;

  font-family: var(--font);
}
a {
  text-decoration: none;
}

header {
  width: 90%;
  max-width: 980px;

  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
}
header a {
  text-decoration: none;

  color: var(--color-primary);

  font-size: 4rem;
  font-weight: var(--font-extra-bold);
}

.menu-container.on {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 10;
  background-color: var(--color-primary);
}
.menu-content {
  position: absolute;
  top: 3rem;
  right: 5rem;
}
.menu-container.on .menu-content .one,
.menu-container.on .menu-content .three {
  width: 4rem;
  height: 0.4rem;
  background-color: var(--color-white);
  gap: 2rem;
  transition: 300ms;
}
.menu-container.on .menu-content .one {
  transform: rotateZ(45deg) translate(8px, 8px);
}
.menu-container.on .menu-content .three {
  transform: rotateZ(-45deg) translate(8px, -8px);
}

.menu-container.on .search-container {
  display: initial;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  width: 70%;

  padding: 2rem;

  display: flex;
  align-items: center;
}
.menu-container.on .search-container input {
  border: none;

  font-size: 2rem;

  outline: none;

  color: var(--color-primary);
  font-weight: var(--font-bold);
  width: 100%;
}
.menu-container.on .search-container button i {
  color: var(--color-bs);
  padding-left: 2rem;

  font-size: 3rem;
}

.search-container {
  border: 1px solid var(--color-bs);
  border-radius: 1rem;

  padding: 1rem;

  display: flex;
  align-items: center;
}
.search-container input {
  border: none;

  font-size: 2rem;

  outline: none;
  background-color: transparent;

  color: var(--color-primary);
  font-weight: var(--font-bold);

  padding: auto 2rem;
}
.search-container input::placeholder {
  color: var(--color-bs);
}
.search-container button {
  background-color: transparent;

  border: none;

  cursor: pointer;
}
.search-container button i {
  color: var(--color-bs);

  font-size: 2.5rem;
  padding-left: 1rem;
}

.banner-container {
  width: 90%;
  max-width: 980px;

  height: 400px;

  margin: auto;

  position: relative;
}
.banner-container .banner {
  background-image: url(../images/mountains.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;

  border-radius: 2rem;
  box-shadow: 0 1rem 2rem var(--color-bs);

  position: absolute;

  z-index: -1;

  opacity: 0.75;
}

.banner-content {
  padding: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 100%;
}
.info-city-container,
.sunset-container {
  display: flex;
  flex-direction: column;

  color: var(--color-white);
}

.sunset-container {
  text-align: right;
}
.info-city-container i {
  font-size: 3rem;
}
.info-city-container .temp-city {
  font-size: 8rem;
  font-weight: var(--font-bold);
}
.info-city-container .city-name,
.sunset-container .sunset-description {
  font-size: 2rem;
}

.sunset-container .sunset-hour {
  font-size: 2.5rem;
  font-weight: var(--font-bold);
}

.weather-container {
  width: 90%;
  max-width: 980px;

  margin: 3rem auto;

  display: flex;
  justify-content: space-between;
}
.weather-content {
  width: 40%;
}
.infos {
  width: 100%;
  height: 100%;
  max-width: 400px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4rem;

  box-shadow: 0 0 2rem var(--color-bs);

  border-radius: 2rem;
}
.local-info {
  display: flex;

  align-items: center;
}
.local-info i {
  font-size: 2.5rem;

  color: var(--color-primary);

  padding: 1.5rem;
}
.info-description span {
  font-weight: var(--font-extra-bold);
}

.rainfall-container {
  width: 100%;
  max-width: 400px;

  margin-top: 2rem;

  border-radius: 2rem;
  box-shadow: 0 0 2rem var(--color-bs);

  padding: 2.5rem;

  color: var(--color-white);

  display: flex;
  justify-content: space-between;

  background-image: linear-gradient(
    to right,
    var(--color-secundary),
    var(--color-primary)
  );
}
.rainfall,
.year-container {
  display: flex;
  flex-direction: column;
}
.year-container {
  text-align: right;
}
.rainfall-value,
.percentage {
  font-weight: var(--font-extra-bold);
  font-size: 1.8rem;
}
.percentage {
  color: var(--color-green);
}

.week-container {
  width: 58%;

  border-radius: 2rem;

  box-shadow: 0 0 2rem var(--color-bs);

  padding: 3rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.temperature-day {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  gap: 1rem;
}
.temperature-day i {
  font-size: 3rem;
  color: var(--color-primary);
}
.temperature-day .day-value {
  font-weight: var(--font-bold);
  font-size: 1.8rem;
}
.day-value-container {
  display: flex;
  flex-direction: column;
}
.day-container {
  display: flex;
  align-items: center;
}
.ri-arrow-up-line.up,
.ri-arrow-down-line.down {
  font-size: 2rem;
  margin: 1rem 0.4rem;
}
.ri-arrow-up-line.up {
  color: var(--color-red);
}
.ri-arrow-down-line.down {
  color: var(--color-green);
}

footer {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  column-gap: 4rem;

  padding-bottom: 4rem;
}
footer a {
  display: flex;
  align-items: center;

  column-gap: 0.8rem;

  font-size: 1.7rem;

  color: var(--color-primary);
}

@media (max-width: 900px) {
  .infos {
    padding: 2rem;
  }
}

@media (max-width: 830px) {
  .infos {
    padding: 1.8rem;
  }
  .local-info i {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 20;
  }

  .menu-container.on .menu-content .one {
    transform: rotateZ(45deg) translate(8px, 9px);
  }
  .menu-container.on .menu-content .three {
    transform: rotateZ(-45deg) translate(8px, -9px);
  }
  .one,
  .two,
  .three {
    width: 4rem;
    height: 0.4rem;
    background-color: var(--color-primary);
    margin: 0.8rem;
    transition: 300ms;
  }

  .search-container {
    display: none;
  }
  .weather-container {
    display: block;
  }
  .weather-content {
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
  .infos,
  .rainfall-container {
    width: 100%;
    max-width: 100%;

    height: 200px;
  }
  .infos {
    justify-content: space-around;
  }
  .rainfall-container {
    margin-top: initial;
  }
  .rainfall,
  .year-container {
    justify-content: center;

    line-height: 4rem;
  }
  .week-container {
    width: 100%;

    margin-top: 2rem;
  }
  .temperature-day {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    row-gap: 2rem;
  }
}

@media (max-width: 620px) {
  header a {
    font-size: 3rem;
  }
  .menu-container .menu-content,
  .menu-container.on .menu-content {
    top: 2rem;
    right: 5rem;
  }
  .weather-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 2rem;
  }
  .infos {
    gap: 3rem;
  }
  .infos,
  .rainfall-container {
    width: 100%;
    max-width: initial;

    padding: 3rem;
  }
  .rainfall-container {
    height: auto;
  }
}

@media (max-width: 520px) {
  .day {
    font-size: 1.5rem;
  }
  .temperature-day i {
    font-size: 2rem;
  }
  .temperature-day .day-value {
    font-size: 1.5rem;
  }
  .day-container-up i,
  .day-container-down i {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  header {
    position: static;
  }
  header a {
    font-size: 2.5rem;
  }
  .menu-container .menu-content,
  .menu-container.on .menu-content {
    top: 1.8rem;
  }

  .one,
  .two,
  .three {
    width: 4rem;
    height: 0.3rem;
  }

  .menu-container.on .search-container {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .menu-container.on .menu-content .one {
    transform: rotateZ(45deg) translate(8px, 8px);
  }
  .menu-container.on .menu-content .three {
    transform: rotateZ(-45deg) translate(8px, -9px);
  }

  .info-city-container i {
    font-size: 2rem;
  }
  .info-city-container .temp-city {
    font-size: 5rem;
    font-weight: var(--font-bold);
  }
  .info-city-container .city-name,
  .sunset-container .sunset-description {
    font-size: 1.5rem;
  }
  .sunset-container .sunset-hour {
    font-size: 2rem;
    font-weight: var(--font-bold);
  }

  .week-container {
    padding: 1.5rem;
  }
  .temperature-day,
  .temperature-day .day-value {
    font-size: 1.6rem;
  }
  .temperature-day i {
    font-size: 2rem;
  }
  .temperature-day .day-value {
    font-weight: var(--font-extra-bold);
  }

  .menu-container .menu-content,
  .menu-container.on .menu-content {
    top: 1.8rem;
    right: 3.5rem;
  }
  .menu-container.on .search-container input {
    font-size: 1.7rem;
    border-radius: initial;
  }
  .menu-container.on .search-container button i {
    font-size: 2rem;
  }

  .day {
    font-size: 1.2rem;
  }
  .temperature-day i {
    font-size: 1.8rem;
  }
  .temperature-day .day-value {
    font-size: 1.3rem;
  }
  .day-container-up i,
  .day-container-down i {
    font-size: 1.5rem;
    margin: 0.2rem;
  }

  .week-container {
    padding: 2rem 1rem;
  }
}
@media (max-width: 375px) {
  .banner-content {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .info-city-container,
  .sunset-container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .info-city-container i {
    font-size: 4rem;
  }
  .info-city-container .temp-city {
    font-size: 8rem;
    font-weight: var(--font-bold);
  }
  .info-city-container .city-name,
  .sunset-container .sunset-description {
    font-size: 2rem;
  }

  .sunset-container .sunset-hour {
    font-size: 2.5rem;
    font-weight: var(--font-bold);
  }
  .menu-container .menu-content,
  .menu-container.on .menu-content {
    top: 1.6rem;
    right: 3.5rem;
  }
  .one,
  .two,
  .three {
    width: 3rem;
    height: 0.3rem;
  }
  .infos {
    gap: 0.3rem;
    padding: 1.2rem;
  }

  .day-container-up i,
  .day-container-down i {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .menu-container.on {
    overflow-y: auto;
  }
  .info-city-container i {
    font-size: 3rem;
  }
  .info-city-container .temp-city {
    font-size: 7rem;
    font-weight: var(--font-bold);
  }
  .info-city-container .city-name,
  .sunset-container .sunset-description {
    font-size: 1.5rem;
  }

  .sunset-container .sunset-hour {
    font-size: 2.4rem;
    font-weight: var(--font-bold);
  }

  .weather-content {
    height: 100%;
  }

  .infos {
    display: flex;
    flex-direction: column;
  }

  .local-info {
    padding: 1rem;
  }

  .rainfall-container {
    margin-bottom: 2rem;
    padding: 1.8rem;
  }

  .week-container {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;

    gap: 2rem;
    padding: 4rem;
  }
  .day {
    font-size: 1.6rem;
  }
  .temperature-day {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    
    text-align: center;
  }
  .temperature-day i {
    font-size: 2rem;
  }
  .temperature-day .day-value {
    font-weight: var(--font-extra-bold);
    font-size: 1.5rem;
  }
  .day-container-up i,
  .day-container-down i {
    font-size: 1.7rem;
    margin: 0.4rem;
  }
}

@media (max-width: 279px) {
  .week-container {
    margin-top: 10rem;
  }
}
